TRAPPIST_schedules_docx/

SPOCK/credentials/*

night_blocks_propositions/

survey_hours/

local_files/

SPOCK_files/

target_lists/

WG6_specific_timings/

.vscode/

DATABASE/Io/*.csv

DATABASE/Europa/*.csv

DATABASE/Ganymede/*.csv

DATABASE/Callisto/*.csv

DATABASE/Io/*.txt

DATABASE/Europa/*.txt

DATABASE/Ganymede/*.txt

DATABASE/Callisto/*.txt

DATABASE/Artemis/*.txt

DATABASE/Saint-Ex/*.txt

DATABASE/TN_Oukaimeden/*.txt

DATABASE/TS_La_Silla/*.txt

DATABASE/Io/Archive_night_blocks/

DATABASE/Europa/Archive_night_blocks/

DATABASE/Ganymede/Archive_night_blocks/

DATABASE/Callisto/Archive_night_blocks/

DATABASA/TS_La_Silla/Archive_night_blocks/

DATABASE/TN_Oukaimeden/Archive_night_blocks/

DATABASE/Saint-Ex/Archive_night_blocks/

DATABASE/Artemis/Archive_night_blocks/

DATABASE/Io/Plans_by_date/

DATABASE/Europa/Plans_by_date/

DATABASE/Ganymede/Plans_by_date/

DATABASE/Callisto/Plans_by_date/

DATABASA/TS_La_Silla/Plans_by_date/

DATABASE/TN_Oukaimeden/Plans_by_date/

DATABASE/Saint-Ex/Plans_by_date/

DATABASE/Saint-Ex/Plans_Saint-Ex/

DATABASE/Saint-Ex/Plans_Saint-Ex.zip

DATABASE/Artemis/Plans_by_date/

DATABASE/Artemis/Astra/

DATABASE/Io/Astra/

DATABASE/Europa/Astra/

DATABASE/Ganymede/Astra/

DATABASE/Callisto/Astra/

DATABASE/Saint-Ex/Astra/

DATABASE/Saint-Ex/Archive_zip_folder_sent/

DATABASE/Saint-Ex/Plans_Astra_Saint-Ex/

DATABASE/Saint-Ex/*.zip

DATABASE/TS_La_Silla/*

DATABASE/Io/Zip_files/

DATABASE/Europa/Zip_files/

DATABASE/Ganymede/Zip_files/

DATABASE/Callisto/Zip_files/

DATABASE/Io/Astra/

DATABASE/Europa/Astra/

DATABASE/Ganymede/Astra/

DATABASE/Callisto/Astra/

DATABASA/TS_La_Silla/Zip_files/

DATABASE/TN_Oukaimeden/Zip_files/

DATABASE/Saint-Ex/Zip_files/

DATABASE/Artemis/Zip_files/

DATABASE/Io/Locked_obs/*.txt

DATABASE/Europa/Locked_obs/*.txt

DATABASE/Ganymede/Locked_obs/*.txt

DATABASE/Callisto/Locked_obs/*.txt

DATABASA/TS_La_Silla/Locked_obs/*.txt

DATABASE/TN_Oukaimeden/Locked_obs/*.txt

DATABASE/Saint-Ex/Locked_obs/*.txt

DATABASE/Artemis/Locked_obs/*.txt

local_files/*

.DS_STORE

passwords.csv

plan.txt

dist/

*.ipynb_checkpoints

.idea

SPOCK.egg-info/

test/

test.py

input_short_term.csv

input.csv


TOI_270_transits_from_Paranal_in_2022.csv

DATABASE/

./test_astra.ipynb

./target_lists/www.mrao.cam.ac.uk/SPECULOOS/speculoos-portal/php/

./target_lists/stargate/

old_docs_source/

vendor/

_site/

.DS_Store

Notebooks/

__pycache__/
*.pyc

*.png

test_*.py

test_*.ipynb

SaintEx.csv

notebook_tests.ipynb